.nav {
    grid-area: n;
    background-color: rgb(198, 147, 245);
    padding: 20px;
  }

.nav a {
    color: black;
    text-decoration: none;
    
  }

  .nav a:hover {
    color: gold;
    text-decoration: none;
    
  }

  .nav a.active {
  color: rgb(255, 166, 0);
  
  } 
  
