.nav {
    grid-area: n;
    background-color: rgb(198, 147, 245);
  }

/* .nav a {
    color: black;
    text-decoration: none;
    
  } */

  /* .black {
    color: black;
  } */

  /* .nav a:hover {
    color: gold;
    text-decoration: none;
    
  } */

/* .active {
  color: rgb(255, 166, 0);
  
}  */
  
